# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches de CPython
*.pyc

# Archivos de distribución / paquetes
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.wafpickle-*
*.swp
*wheel
*.dll
*.exe
*.manifest
*.spec

# Instancias de Jupyter Notebook
.ipynb_checkpoints

# Archivos de configuración del entorno de desarrollo
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de entorno virtual
venv/
ENV/
env/
env.bak/
venv.bak/

# Spyder config files
.spyderproject
.spyproject

# Rope config files
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Archivos de configuración de PyCharm
.idea/

# Folder config file
.vs/

# Configuraciones de entorno local
.env
.env.local

# pip
pip-log.txt
pip-delete-this-directory.txt
requirements.txt.bak

# Archivos de registro
*.log

# Base de datos
*.sqlite
*.db
*.sql

# OS files
.DS_Store
Thumbs.db

# Otros archivos y directorios a ignorar
*.bak
*.orig
*.pyo
*.rej
*~
